* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  padding: 2rem;
  margin: 0;
  box-sizing: border-box;
}

#root,
header,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

main {
  margin-top: 2rem;
}

.form {
  display: flex;
  align-items: center;
}

.movies {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid rgb(30 30 50 / 0.5);
  box-shadow: 0 2px 8px rgb(30 30 50 / 0.8);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
